@import "./breakpoints";
@import "./mixins";
@import "./variables";
@import "./normalize";

#root {
  margin: 0 auto;
  padding: 1rem;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: $text-color;
  background-color: $body-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  src: url(../assets/fonts/ProximaNova.otf);
}

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  // outline: 1px dashed rgba(red, 0.1);
}

body {
  max-width: 60rem;
  margin: 0 auto;
  font-family: $body-font;
}

a {
  font-weight: 500;
  color: $link-color;
  text-decoration: inherit;

  &:hover {
    color: $link-hover;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 5px;
  border: none;
  padding: 1.5em 3em;
  margin: 0.5rem 0;
  font-weight: 500;
  font-family: inherit;
  background-color: $button-bg-color;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-text;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
}

fieldset {
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  border: dashed 1px $border-lines;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;

  & fieldset {
    border: none;
  }

  & fieldset :hover {
    cursor: pointer;
  }

  div input {
    margin: 0 auto;
    text-align: center;
  }

  & legend {
    font-size: 1.2rem;
    margin: 0.05rem;
  }

  @include breakpoint-range($from: mobile, $to: tablet) {
    flex-direction: column;
  }

  @include breakpoint-range($from: tablet, $to: desktopLarge) {
    flex-direction: row;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & input {
    max-width: 200px;
    font-size: 1rem;
  }

  @include breakpoint-range($from: mobile, $to: tablet) {
    margin: 1rem auto;
    font-size: 1rem;
  }

  @include breakpoint-range($from: tablet, $to: desktopLarge) {
    margin: 0;
  }
}

input {
  border: none;
  font-weight: 400;
  color: inherit;
  transition: border-color 0.25s;

  & label {
    margin: 0.05rem;
    color: var(--label-color);
    font-size: 0.7rem;
  }
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  & label {
    margin: 0 0.5rem;
    font-size: 0.75rem;
    color: $label-color;
  }

  & input {
    margin: 0 0.05rem;
    font-size: 1rem;
    color: $label-color;
    height: 1.5rem;
    width: 1.5rem;

    &:checked {
      background-color: $button-bg-color;
    }
  }
}

.category {
  min-height: 150px;
  float: left;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.loan-terms {
  display: flex;
}

.loan-terms input {
  width: 100%;
  text-align: center;
}

.form {
  margin: 0 auto;

  @include breakpoint-range($from: mobile, $to: tablet) {
    flex-direction: column;
  }

  @include breakpoint-range($from: tablet, $to: desktopLarge) {
    flex-direction: row;
  }
}

.message {
  width: 100%;
  line-height: 1;
  padding: 1rem;
  color: $warning-color;

  & > * {
    margin: 0.5rem;
  }
}

footer {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: $label-color;
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}

.user-input {
  // border-bottom: 1px solid $border-lines;
  font-size: 1.4rem;
  color: $user-input-color;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  border-radius: $scrollbar-radius;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover;
}

::-webkit-scrollbar-thumb:active {
  background: $scrollbar-thumb-active;
}

::-webkit-scrollbar-corner {
  background: $scrollbar-corner;
}

::-webkit-scrollbar-resizer {
  background: $scrollbar-resizer;
}

.closing-costs {
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

  & div {
    gap: 1rem;
    display: flex;
    justify-content: space-around;
  }
}
