#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin: 2rem 0 ;
}

fieldset fieldset {
  border: none;
}

fieldset legend {
  margin: 0.5rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  fieldset {
    flex-direction: column;
  }

  .form-item {
    width: 100%;
    margin: 1rem auto;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  fieldset {
    flex-direction: row;
  }

  .form-item {
    width: 33%;
  }
}

fieldset {
  min-height: 250px;
  position: relative;
  margin: 2.5rem auto;
  border-radius: 5px;
  border: dashed 1px var(--border-lines); ;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}

fieldset > * {
  margin: 0.5rem;
}

fieldset div input {
  margin: 0 0.5rem;
  text-align: center;
}

fieldset :hover {
  cursor: pointer;
}

legend {
  font-size: 1.2rem;
  font-weight: semibold;
}

input {
  border: none;
  font-size: 1.3em;
  font-weight: 400;
  color: inherit;
  transition: border-color 0.25s;
}

.category {
  height: 100%;
  height: auto;
  margin: 2rem auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.loan-terms {
  display: flex;
}

.loan-terms input {
  width: 100%;
  text-align: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item input {
  width: fit-content;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-item label {
  margin: 0 0.5rem;
  font-size: 1rem;
  color: var(--label-color);
}

.checkbox-item input {
  height: 1.5rem;
  width: 1.5rem;
}

label {
  color: var(--label-color);
  font-size: 0.8rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
